html, body{

    height: 100%;
    margin: 0;

}

body{

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;

}

.encabezado{

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px solid#ffcf00;
    background-color: #FFFFFF;
    flex-shrink: 1;
    margin-bottom: 50px;
    max-width: 100%;
    min-width: 100%;

}

.imagen_encabezado{

    margin-left: 5px;
    scale: 75%;

}

.nav_encabezado{

    display: flex;

}

.nav_encabezado_elementos{

    padding: 10px;
    margin: 5px;
    margin-right: 15px;
    color: #9799A6;
    background-color: #FFF;
    text-decoration: none;
    transition: .5s;
    display: block;

    border: 1px solid #555555;
    border-radius: 10px;

}

.nav_encabezado_elementos:hover{

    background-color: #ffcf00;
    color: #37474f;
    border-color: #37474f;

}

.principal{

    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;

}

.contenedor_general{

    flex: 1;

}

.subtitulo{

    padding: 10px;
    display: inline-block;
    margin-top: 70px;
    font-size: 45px;
    margin-left: 3%;
    background-color: #ffcf00;
    color: #37474f;
    border-radius: 10px;

}

.mensaje_sin_noticias{

    padding: 20px;
    font-size: 25px;
    background-color: #ffcf00;
    color: #37474f;
    border-radius: 10px;

}

.contenedor_noticias{

    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    justify-content: space-around;
    margin-left: 3%;
    margin-right: 3%;

}

.noticia{

    width: 25%;
    border: 3px solid #37474f;
    padding: 3%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

}

.link{

    text-align: center;
    text-decoration: none;
    color: #37474f;

}

.noticia_titulo {

    text-align: center;
    color: #37474f;
    padding: 15px;
    display: inline-block;
    font-size: 35px;
    background-color: #ffcf00;
    color: #37474f;
    border-radius: 10px;
    max-width: 100%;

}

.noticia_cuerpo{

    min-width: 100%;
    font-size: 20px;
    color: #37474f;
    overflow:hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 15; /* number of lines to show */
    -webkit-box-orient: vertical;

}

.noticia_imagen {

    max-width: 100%;
    height: auto;
    margin-top: 35px;
    margin-bottom: 35px;

}

footer{

    margin-top: 50px;
    height: 75px;
    min-height: 75px;
    background-color: #ffcf00;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.texto_footer{

    text-align: center;
    color: #37474f;
    font-size: x-large;

}

